ext/pybind11*.a
*.exe
*.lib
*.cmake
.DS_Store
ext_build
nanogui_resources.*
build
CMakeCache.txt
CMakeFiles
.ninja_deps
.ninja_log
build.ninja
rules.ninja
Makefile
bin2c
example[1-9]
icons
*~
nanogui*.so
nanogui*.pyd
libnanogui.so
libnanogui.dylib
.vscode/
# html documentation specific
*.pyc
docs/_build
docs/doxyoutput
docs/api

# entypo update generation
resources/update_entypo/*
!resources/update_entypo/README.md
!resources/update_entypo/generate.py
!resources/update_entypo/do_copy.py
!resources/update_entypo/compare.py
!resources/update_entypo/legacy_entypo.h
!resources/update_entypo/clean.sh
